ul.kijkwijzer {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 20px;

    li {
        display: inline-block;
        margin: 0 0 1px 0;
        padding: 0;

        + li {
            margin-left: 1px;
        }
        img {
            width: 19px;
            height: 19px;
        }
    }
}
